{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    <form class="form-inline">
      <div class="input-group mb-2 mr-sm-2">
        <label for="izenburua" class="col-sm-2 col-form-label">HITZ GAKOA</label>
        <input type="text" class="form-control mb-2" id="izenburua" name="izenburua" placeholder="hitz gako" {% if izenburua != "": %}value="{{izenburua}}"{% endif %}>
      </div>
      <button type="submit" class="btn btn-primary">
          <i class="fa fa-search"></i>
          Search
      </button>
    </form>

    <hr class="hr" />

    <div class="row">

        {% for book in Liburua %}
            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                <div class="card d-flex flex-row" style="width: 18rem;">
                    {% if book.portada: %}
                        <img src="{{book.portada}}" class="rounded" style="max-width: 6rem; height: fit-content;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{book.izenburua}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{book.idazlea}}</h6>
                        <p class="card-text">{{book.urtea}}</p>
                        <form class="form-inline" action="/catalogue">
                            <input type="hidden" class="form-control mb-2" id="titulua" name="titulua" placeholder="liburu izena" value="{{book.izenburua}}">
                            <button type="submit" class="btn btn-primary">
                                Aukeratu
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

    <hr class="hr" />

</div>

{% endblock %}