{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    <hr class="hr" />

    <div class="row">
    <center>
        <div class="col-lg-4 col-md-6 col-sm-12 my-2">

            <form class="form-inline">

                <input type="text" class="form-control mb-2" id="erabIzena" name="erabIzena" placeholder="erabiltzaile izena" value=""> <br>
                <br><br>
                <button type="submit" class="btn btn-primary">
                    Ezabatu
                </button> <br>
            </form>

            <form class="form-inline">
                <input type="hidden" class="form-control mb-2" id="atzera" name="atzera" placeholder="atzera" value="atzera">
                <br> <button type="submit" class="btn btn-primary">
                    Atzera
                </button>
            </form>

        </div>
    </center>
    </div>

</div>

{% endblock %}