{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    <hr class="hr" />

    <div class="row">

        {% for subinfo in Info %}
            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                <div class="card d-flex flex-row">

                    <div class="card-body">
                        <h5 class="card-title">LIBURU KOPIAREN ID: {{subinfo.erre.liburuID}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">HASIERA DATA: {{subinfo.erre.hasieraData}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">BUELTATZEKO DATA: {{subinfo.erre.bukaeraData}}</h6>
                        <br>
                        <form class="form-inline">
                            <input type="hidden" class="form-control mb-2" id="id" name="id" placeholder="liburuID" value="{{subinfo.erre.liburuID}}">
                            <button type="submit" class="btn btn-primary">
                                Bueltatu
                            </button>
                        </form>
                    </div>
                    <div class="card-body">
                        <center>
                        {% if subinfo.lib.portada: %}
                            <img src="{{subinfo.lib.portada}}" class="rounded" style="max-width: 6rem; height: fit-content;">
                        {% endif %}
                        <h5 class="card-title">{{subinfo.lib.izenburua}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{subinfo.lib.idazlea}}</h6>
                        </center>
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>

</div>

{% endblock %}