{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    <hr class="hr" />

    <div class="row">

        {% for lib in Liburua %}
            <div class="col-lg-4 col-md-6 col-sm-12 my-2">
                <div class="card d-flex flex-row">
                    <div class="card-body">
                        <center>
                        {% if lib.portada: %}
                            <img src="{{lib.portada}}" class="rounded" style="max-width: 6rem; height: fit-content;">
                        {% endif %}
                        <h5 class="card-title">{{lib.izenburua}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{lib.idazlea}}</h6>
                        <form class="form-inline">
                            <input type="hidden" class="form-control mb-2" id="id" name="id" placeholder="liburuID" value="{{lib.id}}">
                            <button type="submit" class="btn btn-primary">
                                Erreseina egin
                            </button>
                        </form>
                        </center>
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>

</div>

{% endblock %}