{% extends 'base.html' %}

{% block content %}
<div class="container p-5 my-5 border">

    <hr class="hr" />

    <div class="row">
    <center>
        <div class="col-lg-4 col-md-6 col-sm-12 my-2">
            <div class="card d-flex flex-row" style="width: 30rem;">
                <div class="card-body">
                    {% if user.argazkia: %}
                        <img src="{{user.argazkia}}" class="rounded" style="max-width: 20rem; height: fit-content;">
                    {% endif %}
                    <h5 class="card-title">{{user.username}}</h5>
                    <form class="form-inline"> <br>
                        <input type="hidden" class="form-control mb-2" id="erreserbak" name="erreserbak" placeholder="erreserbak" value="erreserbak">
                        <button type="submit" class="btn btn-primary">
                            Erreserbak ikusi
                        </button>
                    </form>
                    <form class="form-inline"> <br>
                        <input type="hidden" class="form-control mb-2" id="irakurrita" name="irakurrita" placeholder="irakurrita" value="irakurrita">
                        <button type="submit" class="btn btn-primary">
                            Irakurritako liburuak ikusi
                        </button>
                    </form>
                    {% if user.administratzaileaDa == "True" %}
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title">Administratzaile funtzioak</h5>
                            <form class="form-inline"> <br>
                                <input type="hidden" class="form-control mb-2" id="erabSortu" name="erabSortu" placeholder="erabSortu" value="erabSortu">
                                <button type="submit" class="btn btn-primary">
                                    Erabiltzailea sortu
                                </button>
                            </form>
                            <form class="form-inline"> <br>
                                <input type="hidden" class="form-control mb-2" id="erabEzabatu" name="erabEzabatu" placeholder="erabEzabatu" value="erabEzabatu">
                                <button type="submit" class="btn btn-primary">
                                    Erabiltzailea ezabatu
                                </button>
                            </form>
                            <form class="form-inline"> <br>
                                <input type="hidden" class="form-control mb-2" id="libSortu" name="libSortu" placeholder="libSortu" value="libSortu">
                                <button type="submit" class="btn btn-primary">
                                    Liburu berria sortu
                                </button>
                            </form>
                        <div>
                    {% endif %}
                </div>
            </div>
        </div>
    </center>
    </div>
</div>

{% endblock %}